<h2>Here's <%= cryptid.name %></h2>
<h4>Here is a picture of <%= cryptid.name %></h4>
<img src='<%= cryptid.img_url %>'>

<a href="/cryptids/edit/<%= cryptid.id %>"><div class="clearDiv"></div>Edit <%= cryptid.name %></a>